{% extends "base.html" %}
{% load static %}

{% block title %}Smart Mall{% endblock %}
{% block content %}
    <br>
    <br>
    <h1 class="text-center">Наша команда</h1>
    <br>

    <br>
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/firsov_kirill.jpg' %}" class="rounded float-left img-thumbnail" alt="">
                <h2>Фирсов Кирилл</h2>
                <p>Teamlead, Программист</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">

                <h2>Хрунин Дмитрий</h2>
                <p>Программист</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2>Морозов Ярослав</h2>
                <p>Программист</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
{% endblock %}