{% extends "base.html" %}

{% block title %}Информация об аренде{% endblock %}
{% block content %}
  <h1 class="my-3">Информация об аренде</h1>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'area_detail' pk area_pk %}">Назад</a>
        </li>
        {% if user == rent.area.mall.owner %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rent_edit' pk area_pk rent_pk %}" role="button">Изменить</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Удалить
            </button>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="card-body">
      <h3 class="card-title">{{ rent }}</h3>
      <h5 class="card-subtitle mb-2 text-muted">Статус: {{ rent.get_status_display }}</h5>
      <h5 class="card-subtitle mb-2">Дата и время начала аренды: {{ rent.rental_start_date_time }}</h5>
      <h4 class="card-title mb-2">Баланс: {{ rent.balance }} руб.</h4>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Удаление аренды</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите удалить аренду?
        </div>
        <div class="modal-footer">
          <form action="{% url 'rent_delete' pk area_pk rent_pk %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <input type="submit" class="btn btn-danger" value="Удалить">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}