{% load static %}

<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container'>
    <a class='navbar-brand' href='{% url 'home' %}'>Smart Mall</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle
      navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'home' %}'>Главная</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'admin:index' %}'>Админка</a>
        </li>
        <!-- Пока не написали страницу для незалогиненых пусть будет тут -->
        {% if user.is_authenticated %}
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'user:profile' %}'>Профиль</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'logout' %}'>Выйти</a>
        </li>
        {% else %}
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'login' %}'>Войти</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'user:signup' %}'>Регистрация</a>
        </li>
        {% endif %}
        <!-- тут заканчивается блок который надо будет поправить -->
        {% if user.is_lessor %}
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'user:lessor_profile' %}'>Профиль
            арендодатора</a>
        </li>
        {% endif %}
        {% if user.is_tenant %}
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'user:tenant_profile' %}'>Профиль
            арендатора</a>
        </li>
        {% endif %}
        <li class='nav-item'>
          <a class='nav-link' href='{% url 'search' %}'>Поиск</a>
        </li>
      </ul>
    </div>
  </div>
</nav>